/* font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* css custom variables */
:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
  --main-size: 1.25rem;
}

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  display: inline-block;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}
.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
input:focus {
  outline: none;
}
